@tailwind base;
@tailwind components;
@tailwind utilities;



@import 'flowbite';
body{
    background-color: hsl(218, 100%, 98%);
    
    
    }
    


::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(197, 162, 174); /* Tailwind: slate-300 */
  border-radius: 10px;
}


td{
    text-align: center;
}
td{
    padding: 20px ;
      margin: 10px;

}
th{
    padding: 20px;
      margin: 10px;
}

table {
  border-spacing: 10px;
  
}
 tbody tr:nth-child(odd) { background: rgb(208, 209, 211); 
}
 tbody tr:nth-child(even) { background: white;
 }